.background{
    width: 377px;
    height: min-content;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 40px;
    border-radius: 6px;
background: #FFF;
box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
font-family: "inter";
    
}
#add_button{
    display: flex;
    height: 40px;
   width: 50px;
    align-items: center;
    justify-content: center;
    
    border-radius: 6px;
    background: #3C82F6;
    color: #F9F9F9;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#button_container{
    width: 300px;
    height: 50px;                  
    display: flex;
    justify-content: space-between;
}
#button_container button{
    width: 30%;
    height: 50px;
}
.box{
padding-left: 10px;
width: min-content;
display: flex;
height: min-content;
gap: 20px;
display: flex;

align-items: center;

   

    
    
}
body{
display: flex;
justify-content: center;
}
#top{
    width: 345px;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;


}
#bottom{
    width: 345px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


#header{
    width: 345px;
    height: 28px;
    text-align: center ;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 140% */
    letter-spacing: -0.5px;
}
#input_field{
    width: 345px;
    height: 40px;
  
    
    display: flex;
    justify-content: space-between;
}
#button_field{
    width: 345px;
    height: 32px;
   
    display: flex;
    gap: 6px;
    
}
#content_field{
    width: 345px;
    height: fit-content;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  

}
#input{
    width: 280px;
    height: 90%;
    border-radius: 6px;
border: 1px solid var(--border-border-border, #E4E4E7);
}
#button_field div{
    width: fit-content;
    height: 32px;
    border-radius: 6px;
background: #F3F4F6;
   
}
#check{
   
    width: 20px;
    height: 20px;
}
#test2{
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius-rounded-md, 6px);
background: #F3F4F6;
    
   
   

}
#delete_button_container{
    border-radius: 6px;
    background: #FEF2F2;
    padding: 6px 12px;
    
width: 67px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
color: #EF4444;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 10px;


}
#content_field p{
    color: #6B7280;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.test3{
    display: flex;
height: 32px;
padding: 4px 12px;
justify-content: center;
align-items: center;
gap: 10px;
}
#genocide{
    color: #EF4444;
}
#log_button{
    width: 20px;
    height: 20px;
    background-color: #3C82F6;
}
